.n-card {
  width: 240px;
  height: 150px;
  padding: 10px;
  border-radius: 7px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-card .card-name {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.n-card:hover .delete {
  display: block;
}

.delete {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.6;
  display: none;
}

.delete:hover {
  opacity: 1;
}

.delete i {
  font-size: 1.25rem!important;
}